# 03. 리스트(list)
---
## 03-01. 리스트 개요
### 03-01-01. 리스트란?
* 일련의 값이 모인 집합을 다루기 위한 자료형, python은 배열과 같은 표현식을 쓰지만, 일반적인 프로그래밍 언어와 다르게, 길이를 동적으로 조절할 수 있어 list라고 부른다.

## 03-01-02. 리스트 표현식

In [2]:
리스트명 = ['값1', '값2', ...]

* List의 각 요소의 자료형은 무엇이든 될 수 있다.(서로 다른 자료형이여도 괜찮다.)
* List에 저장되는 요소들은 0부터 시작하는 인덱스 체계로 구분해서 저장된다.

In [4]:
fruits = ['orange', 1, 'pear', 'banana', 'kiwi', 'apple']

print(fruits)
print(fruits[1])
print(fruits[4])

['orange', 1, 'pear', 'banana', 'kiwi', 'apple']
1
kiwi

03-01-03 문자열의 split()
* 문자열을 구분자 기준으로 분리하여 list로 변환해주는 메서드

In [5]:
rainbow = '빨-주-노-초-파-남-보'

print(rainbow.split('-'))

['빨', '주', '노', '초', '파', '남', '보']

### 03-01-04. list() 메서드
* 반복 가능한 객체를 받아서 각 요소를 리스트의 원소로 반환

In [6]:
list1 = [] # 빈 리스트를 생성
list2 = list() # 새로운 빈 리스트 생성

print(list1 == list2)
print(type(list1))
print(type(list2))

True
<class 'list'>
<class 'list'>

In [7]:
list3 = list('hello')

print(list3)

['h', 'e', 'l', 'l', 'o']

---
### 03-02. 리스트 연산

In [8]:
safari_list = ["Bear", "koara", "Gorilla", "squirrel"]
another_safari_list = ["Monkey", "Tiger", "Wolf"]

### 03-02-01. 리스트 합치기: +
* 리스티간 + 연산자를 이용해 하나로 합칠 수 있다.

In [9]:
print(safari_list + another_safari_list)

['Bear', 'koara', 'Gorilla', 'squirrel', 'Monkey', 'Tiger', 'Wolf']

### 03-02-02. 리스트 반복 : *
* 리스트에 * 연산을 하면 요소를 반복할 수 있다.

In [10]:
print(safari_list * 4)

['Bear', 'koara', 'Gorilla', 'squirrel', 'Bear', 'koara', 'Gorilla', 'squirrel', 'Bear', 'koara', 'Gorilla', 'squirrel', 'Bear', 'koara', 'Gorilla', 'squirrel']

### 03-03. 리스트 메서드

In [11]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']

In [12]:
print("index: ", fruits.index("apple1"))

ValueError: 'apple1' is not in list

In [14]:
# 두번째 매개변수에 인덱스를 주면, 검색을 시작할 인덱스라는 의미를 갖음
print("index: " , fruits.index("apple", 3))

index:  5

### reverse()
* 배열을 역순으로 바꿔준다.

In [15]:
print(fruits)

fruits.reverse()

print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']
['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

### append()
* 리스트의 끝에 새로운 요소를 추가하는 메소드

In [16]:
fruits.append("pineapple")
print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple']

### extend()
* 리스트의 끝에 다른 리스트의 요소를 추가

In [17]:
another_fruits = ['rainbow fruit', 'sweet lemon', 'happy apple']

fruits.extend(another_fruits)
print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'rainbow fruit', 'sweet lemon', 'happy apple']

### insert()
* 특정 위치에 요소를 삽입하는 메서드

In [18]:
fruits.insert(1, 'monket banana')
print(fruits)

['apple', 'monket banana', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'rainbow fruit', 'sweet lemon', 'happy apple']

### sort()
* 리스트의 요소를 정렬할 때 사용하는 메서드

In [22]:
# 기본정렬
fruits.sort()
print(fruits)

# 내립차순 정렬
fruits.sort(reverse=True)
print(fruits)

# 문자열 길이가 짧은 순으로 정렬
fruits.sort(key=len)
print(fruits)

['apple', 'apple', 'banana', 'happy apple', 'kiwi', 'monket banana', 'orange', 'pear', 'pineapple', 'rainbow fruit', 'sweet lemon']
['sweet lemon', 'rainbow fruit', 'pineapple', 'pear', 'orange', 'monket banana', 'kiwi', 'happy apple', 'banana', 'apple', 'apple']
['pear', 'kiwi', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'sweet lemon', 'happy apple', 'rainbow fruit', 'monket banana']

### revmove()
* 리스트에서 특정값을 찾아 제거하는 매서드

In [23]:
fruits.remove('kiwi')
print(fruits)

['pear', 'apple', 'apple', 'orange', 'banana', 'pineapple', 'sweet lemon', 'happy apple', 'rainbow fruit', 'monket banana']

### pop()
* 특정 위치에 있는 요소를 제거하고 반환하는 메서드
* 인덱스를 지정하지 않으면 리스트의 마지막 요소를 제거하고 반환

In [24]:
temp = fruits.pop(0)
print(temp)
print(fruits)

pear
['apple', 'apple', 'orange', 'banana', 'pineapple', 'sweet lemon', 'happy apple', 'rainbow fruit', 'monket banana']

---
## 03-05. del 키워드
### 03-06-01. del
* 객체를 삭제할 때 사용되는 키워드
* 리스트의 특정 요소를 삭제하거나 변수를 삭제할 때 사용한다.

In [29]:
abc_list = ['a','b','c','d','e','f']

# del abc_list[0] # 0번째 인덱스의 요소 제거

# del abc_list[1:3] # 1번째 인덱스에서 3번째까지 제거

# del abc_list[:] # 모든 요소 제거

# del abc_list # list 자체를 제거해서 에러 발생

print(abc_list)

['a', 'b', 'c', 'd', 'e', 'f']

# 04. 튜플 (Tupled)
---
## 014-01. 튜플 개요
### 04-01-01. 튜플이란?
* 여러개의 값을 하나의 변수에 저장할 수 있는 자료구조이다.
* 튜플은 한번 생성되면 그 값을 변경할 수 없다.

### 04-01-02. 튜플 포현식
* 튜플은 소괄호를 사용하거나 사용하지 않고 생성할 수 있으며, 생성된 이후에는 그 값을 변경할 수 없다.

In [ ]:
튜플명 = ('값1', '값2', ...)

In [32]:
tuples = (1,2, 'hello'), ('test',1,2,3,4)

print(tuples)
print(tuples[0])
print(tuples[0][2])

no_wrap_tuple = 1,2,3

print(no_wrap_tuple)

((1, 2, 'hello'), ('test', 1, 2, 3, 4))
(1, 2, 'hello')
hello
(1, 2, 3)

---
## 04-02. 튜플 연산
### 04-022-01. 불변 객체
* 튜플은 불변 객체이므로 요소 값을 한번 할당하면, 추가, 수정, 삭제가 불가능하다.
* 이때 값을 재할당하면 값이 다시 입력될 수 있는데, <br>
기존의 변수에 값이 재할당 되는 것이 아닌, 새로운 변수가 생성되는 것

In [33]:
tuples = (1, 2, 'hello'), ('test', 1,2,3,4)

tuples[0]= (1,2,3,4) ## 값을 못바꿈

TypeError: 'tuple' object does not support item assignment

In [34]:
# id(): 인자로 전달된 개체의 주소값을 반환
# 메모리의 위치가 다르다.
# 튜플은 불변객체이기 때문에 튜플이 변경될 때마다 새로운 객체를 생성한다.

test_list = (1, 2, 3, 4)
print(id(test_list))

test_list = (3, 4, 5)
print(id(test_list))

2930621596512
2930621612352

### 04- 02-02. 튜플간 연산

In [36]:
safari_tuple = ('bear', 'koara', 'gorilla', 'squirrel')

In [37]:
# 튜플 합치기
another_safari_tuple = ('monkey', 'tiger', 'wolf')

print(safari_tuple + another_safari_tuple)

# 튜플 반복
print(safari_tuple * 3)

# 튜플의 길이
print(len(safari_tuple + another_safari_tuple))

('bear', 'koara', 'gorilla', 'squirrel', 'monkey', 'tiger', 'wolf')
('bear', 'koara', 'gorilla', 'squirrel', 'bear', 'koara', 'gorilla', 'squirrel', 'bear', 'koara', 'gorilla', 'squirrel')
7